<form method="post" class="flex flex-row justify-center text-center space-x-2">
    <a href="{{ path('activities_details', {'id': activity.id}) }}"
       class="grow btn-primary">Voir</a>
    {% if activity.host == app.user %}
        <a href="{{ path('activities_edit', {'id': activity.id}) }}" class="grow btn-secondary">Modifier</a>
        {% if activity.state.id == 1 %}
            <button type="submit" formaction="{{ path('activities_publish', {'id': activity.id}) }}"
                    class="grow btn-secondary">Publier
            </button>
        {% endif %}
    {% endif %}
    {% if activity.state.id == 2 %}
        {% if app.user in activity.participants %}
            <button type="submit" formaction="{{ path('activities_leave', {'id': activity.id}) }}"
                    class="grow btn-secondary">Se désinscrire
            </button>
        {% else %}
            <button type="submit" formaction="{{ path('activities_join', {'id': activity.id}) }}"
                    class="grow btn-secondary">S'inscrire
            </button>
        {% endif %}
        {% if activity.host == app.user and activity.state.id != 6 %}
            <button type="submit" formaction="{{ path('activities_cancel', {'id': activity.id}) }}"
                    class="grow btn-secondary">Annuler
            </button>
        {% endif %}
    {% endif %}
</form>
