
{{ form_start(searchFilterForm) }}
<div class="">
    <div class="">
        {{ form_widget(searchFilterForm.campus) }}
    </div>
    <div class="">
        {{ form_row(searchFilterForm.startDate) }}
        {{ form_row(searchFilterForm.endDate) }}
    </div>
    <div class="">
        {{ form_row(searchFilterForm.organizer) }}
        {{ form_row(searchFilterForm.registered) }}
        {{ form_row(searchFilterForm.notRegistered) }}
        {{ form_row(searchFilterForm.finished) }}
    </div>
    <div class="">
        {{ form_widget(searchFilterForm.search) }}
        {{ form_widget(searchFilterForm.submit) }}
    </div>
</div>
{{ form_end(searchFilterForm) }}