{% extends 'base.html.twig' %}

{% block title %}Utilisateurs - Administration{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>
    <a href="{{ path('app_admin_users_create') }}">Créer un utilisateur</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Pseudonym</th>
            <th>Mot de passe</th>
            <th>Roles</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Campus</th>
            <th>Administrateur</th>
            <th>Activité</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.campus.name }}</td>
                <td>{{ user.administrator }}</td>
                <td>{{ user.active }}</td>
                <td><a href="{{ path('app_admin_users_edit', {'id': user.id }) }}">Modifier</a></td>
                <td><a href="{{ path('app_admin_users_delete', {'id': user.id }) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

