{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_errors(editActivityForm) }}

    {{ form_start(editActivityForm) }}
    {{ form_widget(editActivityForm) }}
    <a href="{{ path('main_home') }}" class="btn btn-primary">Retour</a>
    {{ form_end(editActivityForm) }}
{% endblock %}

