{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer une sortie{% endblock %}

{% block body %}
    {{ form_errors(createForm) }}

    {{ form_start(createForm, {attr: {id : 'create_activity_form'}}) }}
    <h5>Créer une sortie</h5>
    {{ form_row(createForm.name) }}
    {{ form_row(createForm.startDatetime) }}
    {{ form_row(createForm.registerLimitDatetime) }}
    {{ form_row(createForm.maxParticipants) }}
    {{ form_row(createForm.duration) }}
    {{ form_row(createForm.description) }}
    {{ form_row(createForm.city) }}
    {{ form_row(createForm.location) }}
    <a class="btn btn-link" data-bs-toggle="collapse" href="#addLocation" role="button" aria-expanded="false"
       aria-controls="addLocation">
        Ajouter un lieu
    </a>
    {{ form_row(createForm.save) }}
    {{ form_row(createForm.publish) }}
    <a href="{{ path('main_home') }}" class="btn btn-primary">Retour</a>
    {{ form_end(createForm) }}

    <div class="collapse" id="addLocation">
        <div class="">
            {{ form_start(locationForm) }}
            {{ form_widget(locationForm) }}
            {{ form_end(locationForm) }}
        </div>
    </div>

{% endblock %}

