<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{#
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    @TODO: Add favicon
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
#}
    {% block stylesheets %}{% endblock %}
</head>
<body class="">
<header>
    <a href="/">
        <p class="">SORTIR.</p>
        <p>COM</p>
    </a>
    <nav>
        <a href="{{ path('activity_list') }}" class="{% if 'list' in app.request.pathInfo%}{#TODO: Current page styling#}{% endif %}">Accueil</a>
        {% if app.user %}
            <a href="{{ path('user_profile', {'id': app.user.id}) }}" class="{% if 'profile' in app.request.pathInfo%}{#TODO: Current page styling#}{% endif %}">Mon Profil</a>
            <a href="{{ path('app_logout') }}">Se Déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}">Se Connecter</a>
        {% endif %}
    </nav>
</header>
<main>
    {% for messages in app.flashes %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</main>
<footer>
    <nav>
        <a href="{{ path('main_home') }}">Accueil</a>
        <a href="#">?????</a>
        <a href="#">?????</a>
        <a href="#">?????</a>
        <a href="#">?????</a>
    </nav>
    <p>&copy; 2024 Valentin, Maxime, Touhami</p>
</footer>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
