{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ user.username }} {% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <p>Prénom : {{ user.firstname }}</p>
    <p>Nom : {{ user.lastname }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Campus : {{ user.campus.name }}</p>
    <img src="{{ asset('images/uploads/profile/') }}{{ user.profilePictureFilename }}" alt=""></img>

    <a href="{{ path('main_home') }}" class="">Retour</a>
    {% if app.user.id == user.id %}
        <a href="{{ path('users_edit', {'id': user.id}) }}" class="">Modifier mon profil</a>
    {% endif %}
{% endblock %}