{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ user.username }} {% endblock %}

{% block body %}
    <div class="text-center max-w-screen-md mx-auto my-8">
        <div class="w-full flex flex-col justify-center items-center rounded-xl overflow-hidden shadow-2xl shadow-palette-dark-dark">
            <div class="w-full bg-palette-dark-light p-8 grid grid-cols-2 gap-4 border-dashed border-palette-accent-dark border-8">
            <h1 class="w-full text-palette-accent-light p-8 text-4xl font-bold text-start">{{ user.username|upper }}.</h1>
                <div class="col-span-2 mx-auto max-w-40 max-h-40 w-full rounded-full border-color-three border-8 aspect-square bg-cover bg-no-repeat bg-center" style='background-image: url("{{ asset('uploads/avatars/') }}{{ user.avatarFileName }}")'>

                </div>
                <div class="grid grid-cols-subgrid col-span-2 gap-2">
                    <div class=" bg-palette-dark-light relative">
                        <label class="bg-transparent text-palette-accent-dark absolute left-1 top-0 h-1/2" for="fname">Prénom : </label>
                        <input class="info-item-light uppercase bg-transparent mt-6 font-light w-full" id="fname" value="{{ user.firstname }}" disabled>
                    </div>
                    <div class=" bg-palette-dark-light relative">
                        <label class="bg-transparent text-palette-accent-dark absolute left-1 top-0 h-1/2" for="lname">Nom : </label>
                        <input class="info-item-light uppercase bg-transparent mt-6 font-light w-full" id="lname" value="{{ user.lastname }}" disabled>
                    </div>
                    <div class=" bg-palette-dark-light relative">
                        <label class="bg-transparent text-palette-accent-dark absolute left-1 top-0 h-1/2" for="phone">Téléphone : </label>
                        <input class="info-item-light uppercase bg-transparent mt-6 font-light w-full" id="phone" value="{{ user.phone }}" disabled>
                    </div>
                    <div class=" bg-palette-dark-light relative">
                        <label class="bg-transparent text-palette-accent-dark absolute left-1 top-0 h-1/2" for="email">Email : </label>
                        <input class="info-item-light uppercase bg-transparent mt-6 font-light w-full" id="email" value="{{ user.email }}" disabled>
                    </div>
                    <div class=" bg-palette-dark-light relative">
                        <label class="bg-transparent text-palette-accent-dark absolute left-1 top-0 h-1/2" for="campus">Campus : </label>
                        <input class="info-item-light uppercase bg-transparent mt-6 font-light w-full" id="campus" value="{{ user.campus.name }}" disabled>
                    </div>
                </div>
                <div class="grid grid-cols-subgrid gap-2 w-full col-span-2 place-items-center h-fit-content pt-6">
                    <a href="{{ path('main_home') }}" class="btn-primary-info  w-full max-w-full uppercase">Retour</a>
                    {% if app.user.id == user.id %}
                        <a href="{{ path('users_edit', {'id': user.id}) }}" class="btn-secondary-info w-full max-w-full uppercase">Modifier mon profil</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}